#wrapper-x3Ca8B {
    position: fixed;
    top: 5vh;
    right: 1vw;
    background-color: #212121;
    opacity: 50%;
    border-radius: 12px;
    transition: opacity 250ms ease-in-out, background 50ms ease-in-out;
    text-align: center;
    padding: 12px 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
    cursor: pointer;
}
#wrapper-x3Ca8B:hover {
    opacity: 0.8;
}
#wrapper-x3Ca8B:active {
    background-color: #2E7D32;
}
#label-x3Ca8B {
    color: #fafafa;
    font-size: 19pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#author-x3Ca8B {
    color: #dadada;
    font-size: 8pt;
    font-family: "Lucida Console", Monaco, monospace;
}
